%h2.header
  チャットグループが作成されました
.chatSpace
  .chatSideNav
    .chatSideName
      %p.name
        aaaaaaaaaaa
      %ul.side-header__box__menu
        %li.side-header__box__menu__edit-user
          %a{href: "#"}
            =fa_icon "edit"

        %li.side-header__box__menu__new-group
          %a{href: "#"}
            =fa_icon "cog"

    %ul.sideChat
      %li.sideList
        %p.sideList__chatName aaa
        %p.sideList__chatText おはよう
      %li.sideList
        %p.sideList__chatName aaa
        %p.sideList__chatText おはよう
      %li.sideList
        %p.sideList__chatName aaa
        %p.sideList__chatText おはよう
      %li.sideList
        %p.sideList__chatName aaa
        %p.sideList__chatText おはよう
  .chatMain
    .chatNav
      %p sampleグループ
      .chatMainBtn
        Edit
      .memberClass
        %P Member:aaa
    .message
      .upper-info
        %p.upper-info__talker
          aaa
        %p.upper-info__date
          2039/02/15(wed) 15:50:45
      .message__text
        おはよう！

    .chatFooter
      %form
        .formBox
          %input{type: "text", placeholder: "type a message"}
          %a{href: "#"}
            =fa_icon "image"

        %input{type: "submit",name:"commit",value: "Send",class: "submitBtn"}
      / =form_for @message do |f|
      / = f.text_field :question_title, :class => "input form-control",:placeholder => "質問のタイトル", :type => "text"

