.chat_nav{
  height:80px;
  font-size:20px;
  color: $black;
  text-align: left;
  margin-top:35px;
  margin-bottom:0;
  border-bottom:solid 2px $light_gray;
  // background-color: $dark_blue;

  h3{
     color: $black;
     margin-left:40px;
  }
  .chat_main_btn{
    box-sizing: border-box;
    position: absolute;
    top:60px;
    right:40px;
    font-size: 15px;
    color: $blue;
    background: $white;
    border: solid 1px $blue;
    padding: 8px 20px;
    display: flex;
  }
  .member__class{
    display:flex;

      &__box{
        display:inline-block;
        color: $glay;
        font-size: 13px;
        position:absolute;
        top:80px;
        left:340px;
    }
      &__name{
        display: inline-block;
        color: $glay;
        font-size: 13px;
        position:absolute;
        top:80px;
        left:410px;
    }
  }
}
