.chat_nav{
  height:80px;
  font-size:20px;
  color:#333333;
  text-align: left;
  margin-top:35px;
  margin-bottom:0;
  border-bottom:solid 2px #eeeeee;
  h3{
     color:#333333;
     margin-left:40px;
  }
  .chat_main_btn{
    box-sizing: border-box;
    position: absolute;
    top:60px;
    right:40px;
    font-size: 15px;
    color: #38aef0;
    background: #FFF;
    border: solid 1px #38aef0;
    padding: 8px 20px;
    display: flex;
  }
  .member__class{
    display:flex;

      &__box{
        display:inline-block;
        color: #999999;
        font-size: 13px;
        position:absolute;
        top:80px;
        left:340px;
    }
      &__name{
        display: inline-block;
        color: #999999;
        font-size: 13px;
        position:absolute;
        top:80px;
        left:410px;
    }
  }
}


// .member_box{
//   color: #999999;
//   font-size: 13px;
// }


// .member_class < .member_box p,.member_name p{
//   color: #999999;
//   font-size: 13px;
// }
