.chat_side_name,.header__lists{
  display:flex;
  ul{
    margin-left:110px;
      li > a{
        display:block;
        color:white;
        margin-right:10px;
      }
  }
}

.form_box{
  a:link{
    color:black;
    position:absolute;
    top:30px;
    left:65%;
    font-size:25px;
  }
  a:visited{
    color:black;
  }
}

