.chat_side_name,.header__lists{
  display:flex;
  ul{
    margin-left:110px;
      li > a{
        display:block;
        color:white;
        margin-right:10px;
      }
  }
}

.form_box{
  .icon{
    font-size:25px;
    position:absolute;
    top:10px;
    right: 20px;
  }
  .hidden{
    display: none;
  }
}
//   .hidden{
//     position:absolute;
//     top:30px;
//     left:60%;
//     display:inline-block;
//     overflow: hidden;
//     cursor :pointer;
//   }
// }

