.message{
    height: calc(100vh - 245px);
    padding: 46px 40px 0px;
    background-color: $white_cleam;
    overflow: scroll;
  }

.upper-info{
    padding:0;
    height:20px;
    display:flex;


    &__talker{
      display:inline-block;
      width:10em;
      box-sizing: border-box;
     -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
      padding:0;
      color: #434a54;
      font-size: 12px;
      font-weight: bold;
    }

    &__date{
      display: inline-block;
      color: #999999;
      font-size: 12px;
      margin:0;
    }
}
.message__text{
    display:block;
    height:50px;
}

