.side_chat{
    height:100%;
    box-sizing: border-box;
    width:100%;
    margin:10px;
}
.groups {
  background-color: $dark_blue;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
  .group {
    box-sizing: border-box;
    padding: 15px 30px 40px;
    &__name {
      color: $white;
      font-size: 15px;
    }
    &__message{
      color: $white;
      font-size: 12px;
      margin-top: 5px;
      padding-bottom: 50px;
    }
  }
}
