.chat_side_nav{
  background-color:$ddark_blue;
  width:300px;

  .chat_side_name{
    height:82px;
    background-color:$ddark_blue;
    margin-top:35px;

    .name{
      font-size:16px;
      font-weight:bold;
      margin-left:20px;
      box-sizing: border-box;
      color:$white;
    }
  }
}

