.header{
  width:100%;
  height:25px;
  text-align: center;
  margin:0 auto;
  background-color:#38AEF0;
  color:#FFFFFF;
}
.chat_space{
  width: 100%;
  display:flex;
  .chat_main{
    width: calc(100% - 300px);
    height:100vw;
    margin:0 auto;
    float: right;
  }
}
